# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
backend/.venv/
.venv/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
# Python venv
backend/.venv/
.venv/
backend/ai-marking-tool-480910-1f3c7a43f500.json

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Local DB (if exists)
backend/db.sqlite3
db.sqlite3

# VS Code
.vscode/
